region                   = "eu-west-1" # Europe (Ireland)
cidr_block_all_traffic   = "0.0.0.0/0"
vpc_cidr_block_siem      = "172.32.0.0/16"
subnet_cidr_block_siem   = "172.32.0.0/20"
tcp_protocol             = "tcp"
ssh_protocol             = "ssh"
all_protocols            = "-1"
http_port                = 80
https_port               = 443
ssh_port                 = 22
syslog_port              = 1514
syslog_alternative_port  = 1515
zero_port                = 0
allowed_ip_address       = "0.0.0.0/0" # Put your local IP
ami_ubuntu               = "ami-0c1c30571d2dae5c9" #eu-west-1
wazuh_instance_type      = "t2.medium"
ssh_key_name             = "lab_key_pair"
ssh_key_full_name        = "~/.ssh/lab_key_pair.pem"
ubuntu_user              = "ubuntu"
aws_availability_zones   = "available"
aws_eip_domain           = "vpc"
